.container {
  max-width: 90%;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
}
.example {
  color: grey;
  margin-bottom: 40px;
}
.syn {
  margin: 10px;
  border: 1px solid rgb(65, 24, 75);
  border-radius: 10px;
  background: none;
  color: rgb(65, 24, 75);
  transition: 200ms all ease-in-out;
}
.syn:hover {
  background: rgb(246, 231, 255);
}
.pic {
  max-width: 30%;
  margin: 10px;
}
